---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import BookSession from '../components/BookSession.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Services />
		<BookSession />
	</main>
</Layout>

<style>
	main {
		background-color: #000000;
	}
</style>
